<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
	crossorigin="anonymous">
</head>
<body>

	<div class="container mt-4">
		<h4>Informe de estado de la Granja</h4>
		<div class="row">
			<div class="col-md-9">
				<form th:action="@{/listar}" th:objet=${Gallina} method="GET">
					<div>
						<input type="submit" value="Pagina Anterior"
							class="btn btn-success">
					</div>
					<div></div>
				</form>
				<h5>Stock de Productos</h5>
				<table class="table">
					<thead>
						<tr>
							<th>TIPO</th>
							<th>CANTIDAD</th>
							<th>IMPORTE UNITARIO</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="Gallina"></td>
							<td th:text="${totalCantGallinas}"></td>
							<td th:text="${costoUnitarioGallina}"></td>
						</tr>
						<tr>
							<td th:text="Huevo"></td>
							<td th:text="${totalCantHuevos}"></td>
							<td th:text="${costoUnitarioHuevo}"></td>
						</tr>
					</tbody>
				</table>
				<br>
				<h5>Ventas</h5>
				<table class="table">
					<thead>
						<tr>
							<th>TIPO</th>
							<th>CANTIDAD</th>
							<th>IMPORTE TOTAL</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="Gallina"></td>
							<td th:text="${gallinasVendidas}"></td>
							<td th:text="${totalVentaGallinas}"></td>
						</tr>
						<tr>
							<td th:text="Huevo"></td>
							<td th:text="${huevosVendidos}"></td>
							<td th:text="${totalVentaHuevos}"></td>
						</tr>
					</tbody>
				</table>
				<br>
				<h5>Compras</h5>
				<table class="table">
					<thead>
						<tr>
							<th>TIPO</th>
							<th>CANTIDAD</th>
							<th>IMPORTE TOTAL</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td th:text="Gallina"></td>
							<td th:text="${gallinasCompra}"></td>
							<td th:text="${totalCompraGallinas}"></td>
						</tr>
						<tr>
							<td th:text="Huevo"></td>
							<td th:text="${huevosCompra}"></td>
							<td th:text="${totalCompraHuevos}"></td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-3">
				<div class="col">
					<h6>Total de productos de la Granja:</h6>
					<label th:text="${totalGranja}" class="form-control" th:readonly></label>
				</div>
				<div class="col">
					<h6>Dinero disponible:</h6>
					<label th:text="${dineroEnCuenta}" class="form-control" th:readonly></label>
				</div>
				<div class="col">
					<h6>Total Nacimiento de Gallinas:</h6>
					<label th:text="${totalNacimientoGallinas}" class="form-control"
						th:readonly></label>
				</div>
				<div class="col">
					<h6>Total deceso de Gallinas:</h6>
					<label th:text="${totalMuerteGallinas}" class="form-control"
						th:readonly></label>
				</div>
			</div>
		</div>
	</div>

</body>
</html>